.section1 {
  ul {
    @include flexChildren;

    @media screen and (max-width: 560px) {
      flex-direction: column;
    }

    li {
      font-size: 2rem;
      list-style: none;

      &:hover {
        color: $color-1;
      }
      &:first-child {
        text-decoration: underline;
      }
      &:nth-child(2) {
        text-decoration: underline wavy red;
      }
      &:last-child {
        text-decoration: underline overline $color-3;
      }
    }
  }

  .box {
    width: 70%;
    min-height: 400px;
    background: url(../assets/img/pexels-tim-samuel-5845336.jpg) center/cover;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 14px 14px 0 orange;
    @include centerChild();

    p {
      background: rgba(0, 128, 128, 0.724);
      padding: 40px;
      font-size: 1.8rem;
      display: inline-block;
      border-radius: 5px;
      box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.246);
      backdrop-filter: blur(2px);
    }
  }
  .grid {
    @include grid(25%, 75%, 0, 0);

    div {
      background: $color-3;
      margin: 10px;
      color: $color-1;
    }
  }
}
