@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/SourceCodePro-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Corinthia-Bold.ttf);
}

* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  color: white;
}

body {
  background: #dadada;
  color: darkblue;
  padding-top: 50px;
}

h1 {
  color: teal;
  font-family: "font-1", sans-serif;
}

@media screen and (max-width: 700px) {
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 300px) {
  h1 {
    font-size: 0.9rem;
  }
}

h1:hover {
  color: tomato;
}

h1:active {
  color: darkblue;
}

h1 img {
  height: 30px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.section1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 560px) {
  .section1 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section1 ul li {
  font-size: 2rem;
  list-style: none;
}

.section1 ul li:hover {
  color: tomato;
}

.section1 ul li:first-child {
  text-decoration: underline;
}

.section1 ul li:nth-child(2) {
  -webkit-text-decoration: underline wavy red;
          text-decoration: underline wavy red;
}

.section1 ul li:last-child {
  -webkit-text-decoration: underline overline darkblue;
          text-decoration: underline overline darkblue;
}

.section1 .box {
  width: 70%;
  min-height: 400px;
  background: url(../assets/img/pexels-tim-samuel-5845336.jpg) center/cover;
  margin: 0 auto;
  border-radius: 8px;
  -webkit-box-shadow: 14px 14px 0 orange;
          box-shadow: 14px 14px 0 orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .box p {
  background: rgba(0, 128, 128, 0.724);
  padding: 40px;
  font-size: 1.8rem;
  display: inline-block;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.246);
          box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.246);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.section1 .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75% 0 0;
      grid-template-columns: 25% 75% 0 0;
}

.section1 .grid div {
  background: darkblue;
  margin: 10px;
  color: tomato;
}

nav {
  background: darkblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: tomato;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */