/************* Variables *************/
:root {
  --main-color: rgb(170, 241, 55);
  --second-color: #010122;
  --white: rgb(248, 248, 248);
  --black: rgb(32, 32, 32);
  --br: 20px;
}

/* Réglages généraux */
/* Réglages de bases pour chaque projet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

/* Réglages spécifiques (dans l'ordre d'apparition HTML) */
body {
  background: var(--second-color);
  color: var(--main-color);
  margin: 20px;
  min-height: 400vh;
}

/* Priorités */
/* !important > id > classe > balise */
h1 {
  color: var(--white) !important;
}
.titre {
  color: green;
}
#title {
  color: rgb(216, 216, 3);
}

/* Sélecteurs CSS */
.liste li:first-child {
  color: var(--white);
}
.liste li:nth-child(2) {
  color: orangered;
}
.liste li:last-child {
  color: orchid;
}

/* Hover IMG */
.img-container {
  height: 300px;
  width: 300px;
  overflow: hidden;
}
.img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: 0.5s ease;
}
.img-container img:hover {
  transform: scale(2);
}

/* Attribuer un comportement aux éléments qui ne sont PAS survolés */
.not-hover {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}
.not-hover span {
  font-size: 3rem;
  background: skyblue;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 20px;
  transition: 0.4s ease;
  /* user select empeche de sélectionner des éléments */
  user-select: none;
}
.not-hover span:hover {
  transform: scale(1.1);
}
.not-hover:hover span:not(:hover) {
  transform: scale(0.9);
  background: rgb(70, 110, 126);
}
/* Active change le style d'un élément sur lequel on clique */
.not-hover span:active {
  background: yellow;
  transform: scale(5);
}
/* Selection */
p::selection {
  background: var(--white);
  color: var(--black);
}
/* Checked permet de faire un booleen (true ou false) */
input[type="checkbox"] {
  /* display: none; */
}
input[type="checkbox"]:checked ~ label {
  background: yellow;
}
label {
  margin: 10px 0;
  display: block;
  background: var(--main-color);
  color: var(--second-color);
}
p::first-letter {
  font-size: 2rem;
  color: orange;
}
p::first-line {
  font-style: italic;
}
input[type="text"] {
  font-size: 2rem;
  margin: 30px 0;
  transition: 0.3s;
  padding: 10px;
  text-align: center;
}
input[type="text"]::placeholder {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(248, 131, 131);
}
input[type="text"]:focus {
  outline: 2px solid red;
  border-radius: 30px;
}

/* Before/After Effet reflet */
.picture {
  background: url(./bird.jpg) left/cover;
  height: 150px;
  width: 150px;
  position: relative;
  margin-bottom: 200px;
}
.picture::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  background: inherit;
  bottom: -100%;
  transform: rotateX(180deg);
}
.picture::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  background: linear-gradient(180deg, rgba(195, 34, 34, 0), #010122);
  bottom: -100%;
}

/* Before/after */
.date {
  text-align: center;
  position: relative;
  width: 120px;
  margin: 0 auto;
}
.date::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--main-color);
  top: 50%;
  left: -110%;
}
.date::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--main-color);
  top: 50%;
  right: -110%;
}
/* Animations / Keyframes */
.animations div {
  height: 100px;
  width: 100px;
  background: tomato;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
}
/* Scale */
.animations div:nth-child(1):active {
  animation: animScale 1s forwards;
  /* Forwards laisse l'animation dans son état final */
}
@keyframes animScale {
  to {
    transform: scale(3);
  }
}
/* Transform X */
.animations div:nth-child(2) {
  animation: animTranformX 2s infinite alternate;
}
@keyframes animTranformX {
  to {
    transform: translateX(150px);
  }
}
/* Transform Y */
.animations div:nth-child(3) {
  animation: animTransformY 5s infinite linear;
}
@keyframes animTransformY {
  25% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(100px);
  }
  75% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0);
  }
}
/* Rotate */
.animations div:nth-child(4) {
  animation: animRotate 0.1s infinite;
}
@keyframes animRotate {
  100% {
    transform: rotate(360deg);
  }
}
/* Color */
.animations div:nth-child(5):hover {
  animation: animColor 2s forwards;
}
@keyframes animColor {
  to {
    filter: hue-rotate(180deg);
  }
}
/* Width */
.animations div:nth-child(6):hover {
  animation: animWidth 3s forwards cubic-bezier(0.79, 0.2, 1, -0.14);
}
@keyframes animWidth {
  100% {
    width: 600px;
  }
}
/* Keyframes Wesh alors */
.keyframe {
  background: linear-gradient(90deg, black 50%, yellow 50%);
  height: 400px;
  width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
}
.keyframe h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  animation: move 5s linear infinite;
  width: 380px;
}
@keyframes move {
  0% {
    top: 20px;
  }
  25% {
    left: 180px;
    top: 50%;
  }
  50% {
    top: 95%;
    left: 50%;
  }
  75% {
    left: 80%;
    top: 50%;
  }
  100% {
    top: 20px;
    left: 50%;
  }
}
/* Line clamp */
.card-container {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}
.card-container > div {
  width: 30%;
  border: 1px solid var(--white);
  padding: 10px 10px 40px;
  position: relative;
}
.card-container img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.card-container p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  overflow: hidden;
  line-height: 25px;
}
.card-container button {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
/* Label anim */
.form-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container::before {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: url(./img-bg.jpg) center/cover;
  filter: blur(4px);
  z-index: -1;
  transition: 1s;
}
.form-container:hover::before {
  filter: blur(0) sepia(70%);
}
.form-container form {
  width: 80%;
  background: rgba(192, 192, 192, 0.719);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  position: relative;
  padding: 15px;
}
.form-container input,
.form-container label {
  background: none;
}
.form-container input {
  border: 0;
  border-bottom: 2px solid #333;
  font-size: 2rem;
  padding: 15px 0;
  outline: 0;
  text-align: left;
}
.form-container input:focus {
  outline: none;
  border-radius: 0px;
  border-color: darkcyan;
}
.form-container label {
  position: absolute;
  top: 52px;
  font-size: 1.5rem;
  transition: 0.4s;
}
input:focus + label,
input:valid + label {
  top: 20px;
  font-size: 1rem;
  color: darkcyan;
}
/******* 3D ********/
.container-3D {
  margin: 50px auto;
  text-align: center;
  font-size: 5rem;
  /* Il faut mettre une perspective au parent */
  perspective: 200px;
}
.container-3D h2 {
  animation: anim3d 5s infinite;
}
@keyframes anim3d {
  0% {
    transform: translateZ(0);
  }
  33% {
    transform: translateZ(-400px);
  }
  66% {
    transform: translateZ(300px);
  }
  100% {
    transform: translateZ(0);
  }
}
